<div class="small-centered radius-box medium-4 columns" style="margin-top:150px; margin-bottom:300px;">

<h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, required: false, autofocus: true, placeholder:"Email Address" %>
        

    <div class="field">
      <% if @validatable %>
      <%= f.password_field :password, autocomplete: "off",placeholder: "Password" %>
      <span>(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>

    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "medium-12 columns button small alert block radius" %>
    </div>
  <% end %>

  <%= link_to "Log in", new_session_path(resource_name), class: "edium-12 columns button small  block radius" %>
</div>
