  <!-- Page Header-->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background: url('bg.jpg')">
          <div class="container">
                <div class="main-search clearfix">
                   <div class="form-group">
                       <%= form_tag jobs_path, method: :get, class:"navbar-from navbar-center", role:"search" do %>
                        
                        <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Enter a job title, a location, etc."%>
                    </div>
                    <!--- end of form-group class-->
                      
                    <% end %>     
                </div>
                <!--end of main search form -->
                
                <h1><%= link_to "Add a job", new_job_path %></h1>
            </div>
        <!-- end of container -->
  
    </header>


<div class="container" style="responsive" >
  <div class="row">
    <!-- Post Feautured Job First -->
    <!-- POst the new jobs first after the featured -->
    <% @jobs.order('sticky DESC, created_at DESC').each do |job| %> 
    <div class="col-md-4 col-sm-4 col-lg-3">
      <article class="item tour">
        <!-- if the post is featured show the riboon-->
          <div>
            <% if job.sticky? %>
              <span class="ribbon" >Featured</span>
            <%end%>
          </div>
          <!--end of featured post DIV-->
          
        <a class=" item-img pos-relative" href="<%=job_path(job)%>">
        <%= image_tag job.image.url(:medium) %>
        </a>
        <!-- end of a tag(contains the image) -->

        <div class="item-content">
          <h4>
            <b>
              <a href=""><%= link_to job.title, job_path(job) %></a>
            </b>
           
            <!-- endof span class -->
            <p>
              <%=job.body%> 
            </p>
          </h4>
        </div>
        <!-- end of item-content class-->
        <div class="item-price" style="background:#FFF">
          <div class="pull-left text-left" >
            Company
          </div>
          <!--end of pull left class-->
          <div class="pull-right text-right">
            <%=job.company%>
          </div>
          <!--end of pull right class-->
        </div>
        <!--end of item price class-->
        <div class="item-footer">
          <div class="row">
            <div class="col-xs-6 text-left">
               <b>Location</b><br/><small><%= job.location%></small>
            </div>
            <!-- end of the cols-xs-6-->
            
            <div class="col-xs-6 text-right">
              <b>Added</b><br/><small><%= time_ago_in_words(job.created_at)%> ago</small>
            </div>
            <!-- end of the cols-xs-6-->
          </div>
          <!-- end of row class -->
        </div>
        <!-- end of item-footer class-->
      </article>
      <!--End of article tag-->
    </div>
    <!-- end of the col-sm-4 class-->
    <%end%>
  </div>
  <!--End of row class-->
  <center>   
        <%= paginate @jobs%>
  </center>
</div>  
