
<section class="intro">
    <div class="row">
      <div class=" medium-offset-1 medium-8 large-8 columns">
       <h2 class="lead text-center mt2">A board for awesome people.</h2>

      <!-- start: Search -->
      <%= form_tag jobs_path, method: :get, role:"search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Enter a job title, a location, etc."%>
          <span><%=submit_tag "Search", class: "button"%></span>

        <%end%>
       <!-- END: Search -->     
       </div> <!-- /.Columns-->
    </div><!-- /.row -->
  </section>
  
  <!--Start: JOB Categories-->
  <section>
    <div class="row">
      <dl class="sub-nav small-4 medium-8 columns" style="background-color:gold" >
      <dt>Filter:</dt>
       <%Category.all.each do |category| %> 
      <dd><%= link_to category.name, jobs_path(category: category.name)%></dd>
      <%end%>
     </dl>
    </div> 
  </section>
  <!-- END: JOB categories -->

<div class="container" >
  <div class="row">
  <!-- Post Feautured Job First -->
   <!-- POst the new jobs first after the featured -->
  <% @jobs.order('sticky DESC, created_at DESC').each do |job| %>
        <!--start: Module -->
        <div class="module">           
          <ul class="medium-4 large-4 columns no-bullet ">
           
             <li class="glassy-bg">
                <div class="logo left">
                  <% if job.sticky? %>
                     <!-- TODO: CSS RIBON --> 
                  <%end%>
                  <img src="<%= job.image.url(:medium) %>"/>
                 </div>
                 <h4 class="title text-center"><%= link_to job.title, job_path(job)%></h4>
                 <h5 class="sub text-center"><%=job.company %></h5>
          
                <div class="module-footer">
                  <div class="small-6 text-left columns" id="over">
                    <b>Location</b><br/><em><%= job.location%></em>
                  </div><!-- /. small-6 .columns-->
                                    
                 <div class="small-6 text-right columns" id="over">
                   <b>Added</b><br/><em><%= time_ago_in_words(job.created_at)%> ago</em>
                 </div><!--/.small-6 .columns--> 

                </div><!-- /.module-footer -->
           </li> 
          
          </ul><!-- /. module-grid -->
     
        </div><!-- /.module -->
    <%end%>
  </div>  
</div>
<!-- end of container -->  

    <%= paginate @jobs %>





