
    
<!-- Page Header-->
    <!-- Set your background image for this header on the line below. -->
       <div class="cover" style="background: url('bg.jpg')">
        <div class="container" >

                <div class="main-search clearfix">
                   <div class="form-group">
                       <%= form_tag jobs_path, method: :get, class:"navbar-from navbar-center", role:"search" do %>
                        
                        <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Enter a job title, a location, etc."%>
                    </div>
                    <!--- end of form-group class-->
                      
                    <% end %>     
                </div>
                <!--end of main search form -->
                
                <h1><%= link_to "Add a job", new_job_path %></h1>

          </div>
           <!-- end of container -->    
       </div>
      <!-- end of coveer -->




<div class="container" style="responsive" >
  <div class="row">
    <!-- Post Feautured Job First -->
    <!-- POst the new jobs first after the featured -->
    <% @jobs.order('sticky DESC, created_at DESC').each do |job| %> 
    <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
         <div class="artist-data pull-left">
                          <div class="artst-pic pull-left">
                            <% if job.sticky? %>
                               <span class="ribbon" >Featured</span>
                             <%end%>
                            
                              <img src="<%= job.image.url(:medium) %>" class="img-responsive" />
                            
                          </div>
                            <div class="artst-prfle pull-right">
                              <div class="art-title">
                                  <%= link_to job.title, job_path(job) %>
                                    <span class="artst-sub"><span class="byname"><%=job.company %></span></span> 
                                    <p>
                                      <%=job.body %>
                                    </p>
                                </div>
                              </div>
                              <div class="item-footer">
                                    <div class="col-xs-6 text-left" id="over">
                                       <b>Location</b><br/><small><%= job.location%></small>
                                    </div>
                                    <!-- end of the cols-xs-6-->
                                    
                                    <div class="col-xs-6 text-right" id="over">
                                      <b>Added</b><br/><small><%= time_ago_in_words(job.created_at)%> ago</small>
                                    </div>
                                    <!-- end of the cols-xs-6--> 
                              </div>
                              <!-- end of item-footer class-->
                        
        </div>
    </div>
    <!-- end of the col-sm-4 class-->
    <%end%>
  </div>
  <!--End of row class-->
        
  <center>   
        <%= paginate @jobs%>
  </center>
</div>
<!-- end of container -->  