<div class="page-header" style="margin-top: 15px;">
  <h1 class="page-title" ><%= @job.title %></h1>
    <div class="row">
      <%if can? :delete, @job %>
         <span id="post-control">
          <%= link_to "Edit", edit_job_path(@job) %>
           <%= link_to "Delete", job_path(@job), method: :delete, data:{ confirm: "Are you sure"} %>
          </span>
      <%end%>
    </div>
   <h2 class="page-subtitle">
    <ul>
        <%=render "layouts/jobtype" %>
        <li class="job-company"><%=@job.company %></li>
        <li class="job-location"><i class="fa fa-map-marker"></i>   <%= @job.location%></li>
        <li class="job-date-posted"><i class="fa fa-calendar"></i>   Posted <%= time_ago_in_words(@job.created_at) %> ago</li>
     </ul>
    </h2>
</div>
  <!-- end of site-main-->



<!--START: Job Overview -->
<div class="row">
  <section>
      <div class="job-overview  medium-8 columns"> 
        <p><%=simple_format(@job.body) %></p>
      </div>
  </section>

  <section>
          <div class=" mt2 medium-4 columns">
            <aside class="job-logo">
              <%= image_tag @job.image.url(:medium) %>
            </aside> 
              <%=mail_to @job.url do%>
                <h5 class="button large radius mt1 medium-10 columns">E-mail your résumé</h5>
              <%end%>
               
          </div><!--/. medium-10 --> 
  </section>
</div><!-- end of row--> 
<!--END: Job Overview -->

