<header class="mathead fixed show-for-medium-up">
    <div class="row">
      <nav class="top-bar " data-topbar >
      
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <a href="<%=root_path%>">
              <img src="/logo.png"/>
            </a>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>  
        </ul><!-- /.title-area -->
        <!-- /.top-bar-section -->  

      <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
                <%=link_to  new_job_path do%>
                  <h3 class= "button large">Post a Job</h3>
                <%end%>  

                <% if current_user%>
                  <li class="has-dropdown">
                    <%= current_user.email%>
                  
                  <ul class="dropdown">
                    <li><%= link_to 'Edit Account', edit_user_registration_path %> </li>
                    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                  </ul> <!-- /.dropdown-->

                  <%else%>

                  <li><%= link_to 'Login',new_user_session_path%></li>
                <%end%>
          </ul><!-- /.right --> 

      </section></nav><!-- /.top-bar -->

    </div><!-- /.row -->

  </header><!-- /. header -->

